apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongodb-data-mongodb-0
  namespace: pos
  labels:
    app: mongodb
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  # Note: This PVC is created automatically by StatefulSet volumeClaimTemplates
  # This file is for reference/documentation only
  # If you need to create it manually, uncomment and adjust
